{#
 * Copyright 2017 Lengow SAS.
 * Licensed under the Apache License, Version 2.0
 #}
<div id="lengow_no_order_block">
    <div id="lengow_no_order_message" class="text-center">
        <h2 class="no-margin">{{ locale.t('order.screen.no_order_title') }}</h2>
        <p>{{ locale.t('order.screen.no_order_description') }}</p>
    </div>
</div>
