{#
 * Copyright 2017 Lengow SAS.
 * Licensed under the Apache License, Version 2.0
 #}
{% if warning_message is defined and warning_message %}
    <p class="blue-frame mod-order-warning-message">
        {{ warning_message|raw }}
    </p>
{% endif %}
