includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  level: 0
  paths:
    - %currentWorkingDirectory%
  excludePaths:
    - %currentWorkingDirectory%/vendor
