{% extends '@Modules/lengow/views/templates/admin/_partials/base.html.twig' %}

{% block title %}Lengow - Orders{% endblock %}

{% block content %}
<script type="text/javascript">$(document.body).addClass("adminlengoworder");</script>
<div id="lengow_order_wrapper" class="cms-global">
    <div class="lgw-container">
        <h2>{{ locale.t('order.title')|default('Orders') }}</h2>
        {# Orders content will be migrated from legacy templates #}
        <p>Orders content - To be migrated from legacy template</p>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ lengowPathUri }}views/js/lengow/order.js"></script>
{% endblock %}
