/* lengow admin css */
#table-feeds, #lengow-info {
	border:1px solid #ccc;
	padding: 0px;
	border-spacing: 0px;
	border-radius:3px;
	background-color:#fff;
	width: 100%;
	border-collapse: collapse;
}

#table-feeds thead span {
	background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
	background: -webkit-gradient(linear, center top ,center bottom, from(#F9F9F9), to(#ECECEC)) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F9F9F9', endColorstr='#ECECEC'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F9F9F9', endColorstr='#ECECEC')"; /* IE8 */
	color: #000;
	text-shadow: 0 1px 0 #fff;
	line-height: 35px;
	display: block;
	height: 39px;
	border-left: none;
	border-right: none;
}

#table-feeds thead span.first { text-align: center; }

#table-feeds thead span.last { }

#table-feeds thead th { margin: 0; }

#table-feeds tbody td { height: 35px;margin: 0; }

#table-feeds tbody tr:nth-child(even) { background-color: #EFEFEF; }

#lengow-info h5 {
	background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
	background: -webkit-gradient(linear, center top ,center bottom, from(#F9F9F9), to(#ECECEC)) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F9F9F9', endColorstr='#ECECEC'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F9F9F9', endColorstr='#ECECEC')"; /* IE8 */
	color: #000;
	margin: 0;
	line-height: 29px;
	padding-left: 15px;
	font-size: 12pt;
	font-weight: normal;
	display:block;
}

#lengow-change-select { display: inline-block; }

.process-icon-importlengow { background-image: url('../img/process-icon-export-csv.png'); }

.lengow-margin, .lengow-margin a, .lengow-margin p { font-size: 1em; }

.lengow-no { color: red; }
.lengow-yes { color: green; }

.lengow-select { min-width: 300px; }

label.cat-tree-lengow {
	display: block;
	clear: both;
	text-align: left;
	margin-bottom: 3px;
}
label.cat-tree-lengow input {
	margin-right: 5px;
}
.depth-0 {margin-left: 0px;}
.depth-1 {margin-left: 15px;}
.depth-2 {margin-left: 30px;}
.depth-3 {margin-left: 45px;}
.depth-4 {margin-left: 60px;}
.depth-5 {margin-left: 75px;}
.depth-6 {margin-left: 90px;}
.depth-7 {margin-left: 105px;}
.depth-8 {margin-left: 120px;}
.depth-9 {margin-left: 135px;}
.depth-10 {margin-left: 150px;}
.depth-11 {margin-left: 165px;}
.depth-12 {margin-left: 180px;}

.adminlengowhome > #main > #content, .adminlengow > #main > #content, .adminlengowlog > #main > #content, .adminlengowconfig > #main > #content, .adminlengowlogconfig > #main > #content{
	padding-top: 10px;
}

#logoLengow {
	width: 120px;
}

#logoLengow > img {
	width: 100%;
}

#home{
	padding-left: 10px;
}