/* lengow admin css */

@font-face {
	font-family: "Lato Light";
	src: url('../fonts/Lato-Light.ttf');
}

@font-face {
	font-family: "Lato Medium";
	src: url('../fonts/Lato-Medium.ttf');
}

@font-face {
	font-family: "Lato Semibold";
	font-weight: bold;
	src: url('../fonts/Lato-Semibold.ttf');
}

@font-face {
	font-family: "Open Sans";
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: "Open Sans Italic";
	font-style: italic;
	src: url('../fonts/OpenSans-Italic.ttf');
}

@font-face {
	font-family: "Open Sans Bold";
	font-weight: bold;
	src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: "Open Sans Bold Italic";
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/OpenSans-BoldItalic.ttf');
}



#table-feeds, #lengow-info {
	border:1px solid #ccc;
	padding: 0px;
	border-spacing: 0px;
	border-radius:3px;
	background-color:#fff;
	width: 100%;
	border-collapse: collapse;
}

#table-feeds thead span {
	background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
	background: -webkit-gradient(linear, center top ,center bottom, from(#F9F9F9), to(#ECECEC)) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F9F9F9', endColorstr='#ECECEC'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F9F9F9', endColorstr='#ECECEC')"; /* IE8 */
	color: #000;
	text-shadow: 0 1px 0 #fff;
	line-height: 35px;
	display: block;
	height: 39px;
	border-left: none;
	border-right: none;
}

#table-feeds thead span.first { text-align: center; }

#table-feeds thead span.last { }

#table-feeds thead th { margin: 0; }

#table-feeds tbody td { height: 35px;margin: 0; }

#table-feeds tbody tr:nth-child(even) { background-color: #EFEFEF; }

#lengow-info h5 {
	background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
	background: -webkit-gradient(linear, center top ,center bottom, from(#F9F9F9), to(#ECECEC)) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F9F9F9', endColorstr='#ECECEC'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F9F9F9', endColorstr='#ECECEC')"; /* IE8 */
	color: #000;
	margin: 0;
	line-height: 29px;
	padding-left: 15px;
	font-size: 12pt;
	font-weight: normal;
	display:block;
}

#lengow-change-select { display: inline-block; }

.process-icon-importlengow { background-image: url('../img/process-icon-export-csv.png'); }

.lengow-margin, .lengow-margin a, .lengow-margin p { font-size: 1em; }

.lengow-no { color: red; }
.lengow-yes { color: green; }

.lengow-select { min-width: 300px; }

label.cat-tree-lengow {
	display: block;
	clear: both;
	text-align: left;
	margin-bottom: 3px;
}
label.cat-tree-lengow input {
	margin-right: 5px;
}
.depth-0 {margin-left: 0px;}
.depth-1 {margin-left: 15px;}
.depth-2 {margin-left: 30px;}
.depth-3 {margin-left: 45px;}
.depth-4 {margin-left: 60px;}
.depth-5 {margin-left: 75px;}
.depth-6 {margin-left: 90px;}
.depth-7 {margin-left: 105px;}
.depth-8 {margin-left: 120px;}
.depth-9 {margin-left: 135px;}
.depth-10 {margin-left: 150px;}
.depth-11 {margin-left: 165px;}
.depth-12 {margin-left: 180px;}




/*#content.bootstrap .breadcrumbLengow {
	background: #2e3340;
	border: none;
}

#content.bootstrap .breadcrumbLengow a{
	color: white;
	font-family: Open Sans Bold;
}*/

#content.bootstrap .panel {
	border:none;
	border-radius : 0px;
	margin: 20px;
	width: 1350px;
}
.table-responsive-row, #content.bootstrap .panel, .bootstrap .table tbody>tr>td{
	background-color:#f7f7f7 ;
}

.bootstrap .table thead>tr>th{
	border: none;
}
.bootstrap .table thead>tr.filter>th{
	background: none;
}

#home{
	padding-left: 10px;
}

.bootstrap .table .actions {
	width: 100px;
}

.icon-caret-up, .icon-caret-down{
	color : #222732;
}

.bootstrap .table thead>tr.filter>th input[type="text"].filter, .bootstrap .table thead>tr.filter>th input[type="password"].filter, .bootstrap .table thead>tr.filter>th select.filter{
	border-color: #61687c ;
}

.bootstrap .btn.btn-default:hover {
	background-color:#ebebeb ;
	color : #61687c;
	border-color : #61687c;
}

.bootstrap .pagination>.active>a, .bootstrap .pagination>.active>a:hover, .bootstrap .pagination>.active>a:focus, .bootstrap .pagination>.active>span, .bootstrap .pagination>.active>span:hover, .bootstrap .pagination>.active>span:focus{
	color : #61687c;
	background-color: #eee;
	border-color : #61687c;
}

.bootstrap .pagination>li>a:hover, .bootstrap .pagination>li>span, .bootstrap .pagination>li>a, .bootstrap .dropdown-menu>li a:hover{
	color : #61687c;
}

.bootstrap .table thead>tr>th span.title_box .label-tooltip{
	color: #656565;
	border : none;
	background: none;

}

.bootstrap .buttonLengow a{
	color: white;
}
.paramLengow a{
	font-family: "Lato Medium";
	font-size: 1.6em;
	padding-left: 15px;
}

.bootstrap .titleLengow {
	font-family: "Lato Light";
	font-size: 1.4em;
}

.bootstrap .form-control, .bootstrap input[type="text"], .bootstrap input[type="search"], .bootstrap input[type="password"], .bootstrap textarea, .bootstrap select {
	width: 30%;
}

.bootstrap .formLengow {
	margin-left : 50px;
}

.preference_description {
	font-style: italic;
	font-size: 0.9em;
}

.labelLengow{
	margin-right: 155px;
}

.jumbotronLengow{
	background: none;
}

.jumbotronLengow h1{
	color: white;
}
.jumbotronLengow h3 {
	color : #019ce2;
}

.jumbotronLengow h1, .jumbotronLengow h3 {
	font-family: "Open Sans";
	font-size: 3.5em;
	text-align: center;
}

.jumbotronLengow p {
	color: white;
	text-align: center;
	font-size: 1em;
	font-family: "Open Sans Bold";
}

.jumbotronLengow .descLengow{
	color: #2e3340;
	font-family: "Open Sans";
}

#content.bootstrap .jumbotronLengow h3:not(.modal-title){
	padding: 5px;
}
