/*************************************************/
/*                     CONNECT                   */
/*************************************************/

.adminlengowhome #lengow_iframe{
    width:100%;
    height:850px;
    margin: 0 auto;
}

.lgw-connect{
   margin:0 auto;
   float:none;
}

body.lgw-home-iframe button{
  margin:15px auto!important;
  display:block!important;
  font-size: inherit;
}

body.lgw-home-iframe .lgw-container{
  width:inherit;
}


/*************************************************/
/*                      HOME                     */
/*************************************************/

.adminlengowhome .lengow-nav{
    display:none;
}

.adminlengowhome #lgw-preprod{
  top:0;
}

.adminlengowhome .lgw-label_red{
  padding:0 8px;
}

/*************************************************/
/*                    PRODUCTS                   */
/*************************************************/

.adminlengowfeed .lgw-container{
  min-width:1200px;
}

.lengow_feed_block_header_title{
    border-bottom:1px solid #e1e1e1;
    padding:15px 25px 0;
}

.lengow_feed_block_header_title a{
    position:absolute;
    top:15px;
    right:25px;
}

.lengow_feed_block_header_content{
    padding:25px;
}

.adminlengowordersetting #lgw-preprod{
  top:108px;
}

/*************************************************/
/*                     ORDERS                    */
/*************************************************/

.adminlengoworder .nobootstrap,
.adminlengowordersetting .nobootstrap{
    padding-top:154px;
}
.adminlengoworder .lgw-container{
    min-width:1600px;
    width:100%;
}
.lengow_datepicker_box{
    min-width:180px;
}
.adminlengoworder table input[type="text"].lengow_datepicker{
    width:70px;
    padding:0 7px;
    font-size:13px;
}
.adminlengoworder table input[type="text"].lengow_datepicker:first-child{
    margin-right:3px;
}
.adminlengoworder #lgw-preprod{
  top:108px;
}
