/*************************************************/
/*                     LAYOUT                    */
/*************************************************/

.lengow_body {
  background: #f7f7f7;
}

body.page-sidebar .cms-global{
  padding: 100px 15px 30px;
}

body.page-topbar .cms-global{
  padding: 30px 15px;
}

.lengow_body .nobootstrap {
  background: transparent;
  width: auto;
  min-width: inherit;
  margin: 0 auto;
  position: relative;
}

.lgw-container {
  width: 990px;
  margin: 0 auto;
}

.lgw-block {
  display: block;
  line-height: 54px;
  height: 54px;
  display: block;
  padding: 0px;
  color: #fff;
}

/* GRID */

.lgw-row {
  margin-left: -15px;
  margin-right: -15px;
  box-sizing: border-box;
}

.lgw-row:after {
 clear: both;
 content: " ";
 display: block;
 width: 100%;
}

.lgw-col-9,
.lgw-col-8,
.lgw-col-7,
.lgw-col-6,
.lgw-col-5,
.lgw-col-4,
.lgw-col-3,
.lgw-col-2,
.lgw-col-1 {
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
}

.lgw-col-9 {
  width: 75%;
}

.lgw-col-8 {
  width: 66.66%;
}

.lgw-col-7 {
  width: 58.33%;
}

.lgw-col-6 {
  width: 50%;
}

.lgw-col-5 {
  width: 41.67%;
}

.lgw-col-4 {
  width: 33.33%;
}

.lgw-col-3 {
  width: 25%;
}

.lgw-col-2 {
  width: 16.66%;
}

.lgw-col-1 {
  width: 8.33%;
}

.lgw-col-offset-2 {
  margin-left: 16.66666667%;
}

.clearfix {
  clear: both;
}

/* SECTIONS */

.lgw-content-section {
}

/* SPACING */

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}

.vertical-center {
  margin-top: 50%;

}

.margin-standard {
  margin-bottom: 30px;
}

.marginTB {
  margin: 60px 0;
}

/* PLACEMENT */

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

/* FONT WEIGHT*/

b,
.bold {
  font-weight: 600;
}

/*************************************************/
/*                     LISTS                     */
/*************************************************/

ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*************************************************/
/*                     FONTS                     */
/*************************************************/


.lgw-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #464646;
}

.lgw-container h1,
.lgw-container h2,
.lgw-container h3,
.lgw-container h4,
.lgw-container h5,
.lgw-container h6 {
  font-family: 'Lato', sans-serif;
}

.lgw-container h1 {
  font-size: 32px;
  font-weight: 900;
  margin: 30px 0;
}

.lgw-container h2 {
  font-size: 23px;
  margin:15px 0 30px;
}

.lgw-container h3 {
  font-size: 19px;
}

.lgw-container h4 {
  font-size: 17px;
}

.lgw-container h5,
.lgw-container h6 {
  font-size: 17px;
  font-style: italic;
}

.lgw-container p {
  line-height: 1.7;
  margin: 0 0 10px;
}

.lgw-container .small {
  font-size: 13px;
}
.lgw-container .light {
  color: #828282;
}

.lgw-container a {
  color: #00aeef;
  text-decoration: none;
}

.lgw-container a:hover {
  color: #019ce2;
  text-decoration: underline;
}

.lgw-container .sub-link {
  color: #464646;
  text-decoration: underline;
}

.lgw-container .sub-link:hover {
  color: #00aeef;
}

.lgw-container label {
  text-shadow: none;
  width: inherit;
  float: none;
  text-align: left;
  display: block;
  font-weight: 600;
  margin-bottom: 7px;
}

.stats-big-value {
  font-size: 26px;
  font-weight: 300;
}

code {
  white-space: pre-wrap;
  display: inline-block;
  word-break: break-all;
  padding: 5px 15px;
  margin-bottom: 15px;
  color: #c7254e;
  background-color: #f9f2f4;
}

.nowrap {
  white-space: nowrap;
}

/* ICONS*/

a.lengow_link_tooltip {
  padding: 0 5px;
  margin-top: 0;
  color:#555;
}


/* ALIGN */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

hr {
  border: 0;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

/*************************************************/
/*                     IMAGES                    */
/*************************************************/

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-circle {
  border-radius: 50%;
}

/*************************************************/
/*                     NAVBAR                    */
/*************************************************/

.lengow-nav {
  font-size: 13px;
  position: absolute;
  /*position: fixed;*/
  top: 0px;
  left: 0px;
  right: 0;
  height: 54px;
  margin: 0;
  padding: 0 25px;
  background: #3f4452;
  list-style: none;
  z-index: 300;
}

body.page-sidebar-closed .lengow-nav,
body.page-sidebar-closed .lengow-nav-bottom {
  left: -5px;
}

#lengow_logo img {
  margin-top: 13px;
}

.lengow-nav li{
  float: left;
  position: relative;
}

.lengow-nav a {
  color: white;
  line-height: 54px;
  height: 54px;
  display: block;
  padding: 0 15px;
  text-decoration: none;
  transition: all 100ms ease;
}

.lengow-nav a:hover {
  background: #61687c;
  color: white;
}

.lengow-nav .lengow_float_right {
  float: right;
}

.lengow-nav .fa-2x {
  font-size:18px;
  color: #858ca1;
  vertical-align: middle;
  transition: all 100ms ease;
}

.lengow-nav a:hover .fa-2x,
.lengow-nav li.active .fa-2x {
  color: white;
}

.lengow-nav-notif {
  display: inline-block;
  background: #e55a4d;
  color: white;
  font-size: 11px;
  padding: 0 3px;
  height: 18px;
  min-width: 12px;
  line-height: 18px;
  text-align: center;
  border-radius: 11px;
  margin-left: 2px;
}

/* ACTIVE */

.lengow-nav .active a {
  background: #2e3340;
}

.lengow-nav .active:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #00aeef;
}

/* SUB NAV */

.lengow-nav-bottom {
  z-index: 1;
  top: 55px;
  /*position: fixed;*/
  position: absolute;
  background: white;
  border-bottom: 1px solid #e1e1e1;
}

.lengow-nav-bottom a {
  color:#555;
}

.lengow-nav-bottom a:hover {
  background: #f7f7f7;
  color: #555;
}

.lengow-nav-bottom .active a {
  color: #00aeef;
  background: transparent;
}

.lengow-nav-bottom .active:before {
  background: transparent;
}

/* DEBUG MODE */

#lgw-debug {
  color: white;
  background: #e55a4d;
  padding: 8px 10px 5px 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  top: 0px;
  left: 40px;
  font-size: 11px;
  font-weight: bold;
  z-index: 2;
  top: 54px;
}

/*************************************************/
/*                     SELECT2                   */
/*************************************************/

.lgw-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: right;
}

.lgw-pagination-pages {
  flex: 0 1 100%;
}

#lgw-pagination-select {
  margin: 5px 15px 15px 0;
  flex: 1;
}

#lgw-pagination-select .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
}

#lgw-pagination-select .select2-container--default .select2-selection--single {
  height: auto;
}

#lgw-pagination-select .select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 30px;
  line-height:  30px;
}

#lgw-pagination-select .select2-container {
  display: inline-block;
  width: auto! important;
}

#lgw-pagination-select .select2-selection {
  padding-right: 20px;
}

/*************************************************/
/*                     FOOTER                    */
/*************************************************/

#lgw-footer {
  font-size: 12px;
  margin-top: 15px;
  padding-right:15px;
}

.page-sidebar #lgw-footer #content {
  margin-left: 210px;
}

/*************************************************/
/*                     MODAL                     */
/*************************************************/

.unscrollable {
  overflow: hidden;
}

.lgw-modal {
  width: 100%;
  left: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  background: #f5f5f5;
  position: fixed;
  z-index: 1500;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  transition: all 350ms ease;
}

.lgw-modal-inner {
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.lgw-modal.open {
  left: 0;
}

.modal-close {
  height: 70px;
  width: 70px;
  z-index: 12;
  position: fixed;
  top: 0;
  right: 30px;
  top: 30px;
  display: none;
  border-radius: 50%;
  background: url(../img/modal-close.png) no-repeat white center center;
}

.lgw-modal.open .modal-close {
  display: block;
}

.modal-close:hover {
  opacity: .75;
}

.scrollable {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scrollable-in {
  width: 560px;
  margin: 120px auto;
  padding: 15px;
}
