body {
    padding-top: 60px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.full-container {
    margin:0 40px;
}

#lengow_header_toolbox_order {
    width:100%;
}
#lengow_header_toolbox_order td {
    width:33%;
    vertical-align: top;
}