body {
    padding-top: 60px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.full-container {
    margin:0 40px;
}

#lengow_header_toolbox_order {
    width:100%;
}
#lengow_header_toolbox_order td {
    width:33%;
    vertical-align: top;
}

.lengow-green {
	color: green;
}

.lengow-red {
	color: red;
}

/* ORDER PAGE */

#lengow_charge_import_order {
    position: absolute;
    text-align: center;
    z-index: 100;
    color: #61687d;
}
#lengow_charge_import_order #lengow_charge_lign1, #lengow_charge_import_order #lengow_charge_lign2 {
    font-size: 2.5em;
}

#lengow_charge_import_order #lengow_charge_lign3{
    font-size: 1.5em;
}
#lengow_charge_import_order_background {
    position: absolute;
    background-color: white;
    z-index: 90;
    opacity: 0.7;
}

#lengow_charge_import_order #lengow_charge_lign1 {
    font-weight: bold;
}

#lengow_charge_import_order p {
    margin: 0;
}