{#
 * Lengow PS9 base layout - extends PrestaShop admin layout
 #}
{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% block content %}
<div class="lgw-ps9-content">
    {% block lengow_header %}{% endblock %}
    {% block lengow_content %}{% endblock %}
    {% block lengow_footer %}{% endblock %}
</div>
{% endblock %}
